In [1]:
import pandas as pd

In [2]:
import sqlite3
import pandas as pd
# Create your connection.

In [3]:
cnx = sqlite3.connect('sql_lite_db_file.sqllite')

In [4]:
cnx.execute("select * from users")

OperationalError: no such table: users

In [13]:
resultt = cnx.execute("select * from users")

In [14]:
resultt.fetchall()

[(100, 'abdulwahab')]

In [5]:
conn = cnx.cursor()

In [6]:
conn.execute("""
CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255) 
);
""")

In [7]:
resultt = cnx.execute("select * from Persons")

In [8]:
resultt.fetchall()

[]

In [9]:
conn.execute("""
insert into Persons  values (
    1111,
    'abdulwahab',
    'fname_test',
    'add_test',
    'citty_test'
);
""")

In [10]:
resultt = cnx.execute("select * from Persons").fetchall()

In [11]:
resultt

[(1111, 'abdulwahab', 'fname_test', 'add_test', 'citty_test')]

In [ ]:

df = pd.read_sql_query("SELECT * FROM users", cnx)