## تدريب تطبيقي كيف تتصل على الداتابيز 
##  sqllite من خلال
###   Pandas من خلال مكتبة DataFrame من ثم تحويل البيانات الى

# متطلبات التشغيل

<h3 style="color:red"> التاكد من وجود ملف       </h3>
sql_lite_db_file.sqllite
في نفس المسار

<h3 style="color:red">   تثبيت       </h3>
<h2 style="color:red">   pip install sqlalchemy       </h2>

In [1]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/macbookpro/Desktop/MyFiles/Training/TUWAIQ/AI_BOOOTCAMP/AI_REPO/.env3.9/lib/python3.9/site-packages (1.4.45)
Requirement already satisfied: greenlet!=0.4.17; python_version >= "3" and (platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32")))))) in /Users/macbookpro/Desktop/MyFiles/Training/TUWAIQ/AI_BOOOTCAMP/AI_REPO/.env3.9/lib/python3.9/site-packages (from sqlalchemy) (2.0.1)
WARNING: You are using pip version 20.2.3; however, version 22.3.1 is available.
You should consider upgrading via the '/Users/macbookpro/Desktop/MyFiles/Training/TUWAIQ/AI_BOOOTCAMP/AI_REPO/.env3.9/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd 
from sqlalchemy import create_engine

In [7]:
def CreateTable(db_connection_,TableName:str,Coulmns:dict):
    """
    تسختدم هذي الفنكشن لإنشاء أي جدول 
    """
    try:
        sql_comand = f"CREATE TABLE IF NOT EXISTS {TableName} ("
        for ColName in Coulmns.keys():
            sql_comand+= f" {ColName} {Coulmns[ColName]} "

        sql_comand += " ) ;"
        print("sql_comand = " , sql_comand)
        db_connection_.execute(sql_comand)
    except Exception as ex:
        print("  حدث خطأ اثناء تنفيذ ")
        print(str(ex))

In [8]:
def DropTable(db_connection_,TableName:str):
    """
    تسختدم هذي الفنكشن لحذف أي جدول 
    """
    try:
        sql_comand = f"drop TABLE  {TableName} "
        print("sql_comand = " , sql_comand)
        db_connection_.execute(sql_comand)
    except Exception as ex:
        print("  حدث خطأ اثناء تنفيذ ")
        print(str(ex))

In [9]:
def Insert_Row_to_Table(db_connection_,TableName:str,RowValues:tuple):
    """
    تسختدم هذي الفنكشن لإضافة أي سطر 
    """
    try:
        sql_comand = f"insert into {TableName} values {RowValues}"
        print("sql_comand = " , sql_comand)
        db_connection_.execute(sql_comand)
    except Exception as ex:
        print("  حدث خطأ اثناء تنفيذ ")
        print(str(ex))

In [10]:
def Select_from_table(db_connection_,TableName:str,col_select:str = "*",where_cond:str = "True = True"):
    """
    تستخدم هذي الفنكشن لإستعلام عن اي جدول 
    """
    try:
        sql_comand = f"select {col_select} from {TableName} where {where_cond}"
        print("sql_comand = " , sql_comand)
        print("resultt = ")
        result = db_connection_.execute(sql_comand).fetchall()
        return result
    except Exception as ex:
        print("  حدث خطأ اثناء تنفيذ ")
        print(str(ex))

In [11]:
ls

Connect_to_mysql_db.ipynb         Data/
Connect_to_sqllite_db copy.ipynb  docker-compose.yml
Connect_to_sqllite_db.ipynb       sql_lite_db_file.sqllite

In [13]:
# نتصل بالداتا بيز 
 
database_ = "sql_lite_db_file.sqllite"
db_connection = create_engine(f"sqlite:///{database_}")
db_connection.url

sqlite:///sql_lite_db_file.sqllite

In [14]:
# نجرب نستعلم عن جدول داخل قاعدة البيانات 
Select_from_table(db_connection_=db_connection,TableName="students")

sql_comand =  select * from students where True = True
resultt =
  حدث خطأ اثناء تنفيذ
(sqlite3.OperationalError) no such table: students
[SQL: select * from students where True = True]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [15]:
# ننشئ الجدول 
Coulmns = {"ID":"int , ",
            "Name":"varchar(255) ,",
            "City":"varchar(255) ",}
CreateTable(db_connection_=db_connection,TableName="students",Coulmns=Coulmns)

sql_comand =  CREATE TABLE IF NOT EXISTS students ( ID int ,   Name varchar(255) ,  City varchar(255)   ) ;

In [16]:
Select_from_table(db_connection_=db_connection,TableName="students")

sql_comand =  select * from students where True = True
resultt =

[]

In [17]:
Insert_Row_to_Table(db_connection_=db_connection, TableName="students", RowValues = (1,"Abdulwahab","Riyadh"))
Insert_Row_to_Table(db_connection_=db_connection, TableName="students", RowValues = (10002,"Rakan","Riyadh"))

sql_comand =  insert into students values (1, 'Abdulwahab', 'Riyadh')
sql_comand =  insert into students values (10002, 'Rakan', 'Riyadh')

In [18]:
Select_from_table(db_connection_=db_connection,TableName="students")

sql_comand =  select * from students where True = True
resultt =

[(1, 'Abdulwahab', 'Riyadh'), (10002, 'Rakan', 'Riyadh')]

#  الان نجرب نضيفف بينات من ملفات خارجيه للداتا بيز

In [19]:
ls Data/csv

Customers.csv        Sales.csv            Titles.csv
Obsolete_Titles.csv  Slspers.csv

In [20]:

Customers_df = pd.read_csv("Data/csv/Customers.csv")
Obsolete_Titles_df = pd.read_csv("Data/csv/Obsolete_Titles.csv")
Sales_df = pd.read_csv("Data/csv/Sales.csv")
Slspers_df = pd.read_csv("Data/csv/Slspers.csv")
Titles_df = pd.read_csv("Data/csv/Titles.csv")

In [21]:
Customers_df.to_sql("Customers",con=db_connection)
Obsolete_Titles_df.to_sql("Obsolete_Titles",con=db_connection)
Sales_df.to_sql("Sales",con=db_connection)
Slspers_df.to_sql("Slspers",con=db_connection)
Titles_df.to_sql("Titles",con=db_connection)

92

In [22]:
Select_from_table(db_connection_=db_connection,TableName="Customers")[1:5]

sql_comand =  select * from Customers where True = True
resultt =

[(1, 20151, 20330, 'Friendly Books', '19 International Dr.     ', 'Ryebrook            ', 'NY', '10573       ', 'S03'),
 (2, 20181, 20506, 'The Book Stop', '512 Columbia Road        ', 'Somerville          ', 'NJ', '08876', 'E02'),
 (3, 20309, 20151, "Mary's Card Shoppe", '981 Connecticut Blvd.    ', 'East Hartford       ', 'CT', '06108       ', 'S01'),
 (4, 20330, 99999, 'TechTraining', '51 Ulster St.            ', 'Denver              ', 'CO', '80237       ', 'S03')]

In [23]:
df = pd.read_sql_query("SELECT * FROM Customers", con=db_connection)

In [24]:
df.head()

,index,custnum,referredby,custname,address,city,state,zipcode,repid
0,0,20042,20555,CK Music!,#1149 Blossom Road,Rochester,NY,14610,S01
1,1,20151,20330,Friendly Books,19 International Dr.,Ryebrook,NY,10573,S03
2,2,20181,20506,The Book Stop,512 Columbia Road,Somerville,NJ,08876,E02
3,3,20309,20151,Mary's Card Shoppe,981 Connecticut Blvd.,East Hartford,CT,06108,S01
4,4,20330,99999,TechTraining,51 Ulster St.,Denver,CO,80237,S03